@use './styles/inputs';
@use './styles/date';
@use './styles/quote';
@use './styles/card';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --border: 1px solid var(--text-color);
  --text-color: black;
  --background-colour: beige;
  --card-colour: springgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'DM Serif Display';
  background-color: var(--background-color);
  overflow: hidden;
}

main {
  position: relative;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 40ch 1fr;
  grid-template-rows: 1fr 40ch 1fr;
  height: 100%;

  @media screen and (min-width: 380px) {
    grid-template-columns: auto 65ch auto;
    grid-template-rows: 1fr 65ch 1fr;
  }
}
