@use './styles';

:root {
  --border: 1px solid var(--text-color);
  --text-color: black;
  --background-colour: beige;
  --card-colour: springgreen;
  --flash-color: springgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid var(--text-color);
    outline-offset: 1px;
  }
}

body {
  min-height: 100vh;
  font-family: 'DM Serif Display';
  background-color: var(--background-color);
  overflow: hidden;

  main {
    grid-area: content;
  }
}
