@use 'utils' as media;
@use 'sass:color';

label {
  grid-area: controls;
  justify-self: flex-end;
  cursor: pointer;
  display: flex;

  span {
    font-family: 'DM Sans', sans-serif;
    color: var(--text-color);
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:focus-visible:after {
    outline: 2px solid var(--text-color);
    outline-offset: 1px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    transition-property: top, bottom;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(1, -0.8, 0.23, 1.48);
    bottom: 60px;
  }

  &:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--text-color);
  }

  &:before {
    top: 0;
    right: -7px;
    border-right: 2px dotted var(--text-color);
  }

  &:checked {
    &:after,
    &:before {
      bottom: 40px;
    }
  }
}
